/* All Styling for the application is done in this file.
* The file is located in the src folder.
* The file is divided into sections for each component.
* The sections are separated by comments.
 */

/* Styling for the main application window */
.root {
    -fx-font-family: "Segoe UI Light";
}

/* Styling for the Login window */
.login-scene-bg {
    -fx-alignment: center;
}

.login-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #f6f4f2;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
    -fx-label-padding: 0 0 20px 0;
}